body{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: sans-serif;
  text-align: center;
}

.optinput{
  width: 40px;
  height: 40px;
  margin: 5px;
  font-size: 1.2em;
  text-align: center;
}